[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	ignore = dirty
	branch = master
[submodule "extensions/midi_player"]
	path = extensions/midi_player
	url = https://github.com/goblinengine/midi_player
	branch = main

[submodule "extensions/dascript"]
	path = extensions/dascript
	url = https://github.com/goblinengine/dascript.git
	branch = main
