[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	ignore = dirty
	branch = master
[submodule "extensions/dascript"]
	path = extensions/dascript
	url = https://github.com/goblinengine/dascript.git
	branch = main
[submodule "extensions/midi_player"]
	path = extensions/midi_player
	url = https://github.com/goblinengine/midi_player
[submodule "extensions/gdas/lib/godot-das"]
	path = extensions/gdas/lib/godot-das
	url = https://github.com/GaijinEntertainment/godot-das
[submodule "extensions/gdas/lib/DarkScript"]
	path = extensions/gdas/lib/DarkScript
	url = https://github.com/goblinengine/DarkScript
